body {
  background-color: black;
}

#kontener {
    border: solid 2px white;
    position: relative;
    height: 600px;
    width: 600px;
}

.kwadrat {
   border: solid 2px white;
   position: absolute;
   height: 200px;
   width: 200px;
}

.kolko {
  border: solid black;
  border-radius: 50px;
  position: absolute;
  height: 100px;
  width: 100px;
}

#kontener1 {
    background-color: red;
}

#kolko1 {
  background-color: pink;
  top: 50px;
  left: 50px;
}

#kontener2 {
    background-color: blue;
    right: 200px;
}

#kolko2 {
  background-color: grey;
  top: 50px;
  left: 250px;
}

#kontener3 {
    background-color: green;
    right: 0px;
}

#kolko3 {
  background-color: purple;
  top: 50px;
  right: 50px;
}

#kontener4 {
    background-color: yellow;
    top: 200px;
}

#kolko4 {
  background-color: green;
  top: 250px;
  left: 50px;
}

#kontener5 {
    background-color: black;
    right: 200px;
    top: 200px;
}

#kolko5 {
  background-color: red;
  top: 250px;
  left: 250px;
}

#kontener6 {
    background-color: orange;
    right: 0px;
    top: 200px;
}

#kolko6 {
  background-color: blue;
  top: 250px;
  right: 50px;
}

#kontener7 {
    background-color: purple;
    top: 400px;
}

#kolko7 {
  background-color: orange;
  bottom: 50px;
  left: 50px;
}

#kontener8 {
    background-color: grey;
    right: 200px;
    top: 400px;
}

#kolko8 {
  background-color: yellow;
  bottom: 50px;
  right:250px;
}

#kontener9 {
    background-color: pink;
    right: 0px;
    top: 400px;
}

#kolko9 {
  background-color: black;
  bottom: 50px;
  right: 50px;
}
