#zegar {
    text-align: center;
    font-size: 250px;
    background-color: black;
    width: 100vw;
    height: 100vw;
    position: relative;
}

#zegar > p {
    opacity: 0;
    animation-name: odliczanie;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: absolute;
    color: white;
    top: 0;
    right: 50%;
}

#zegar p:first-child {
  animation-delay: 1s;
}

#zegar p:nth-child(2) {
  animation-delay: 2s;
}

#zegar p:nth-child(3) {
  animation-delay: 3s;
}

#zegar p:nth-child(4) {
  animation-delay: 4s;
}

#zegar p:nth-child(5) {
  animation-delay: 5s;
}

#zegar p:nth-child(6) {
  animation-delay: 6s;
}

#zegar p:nth-child(7) {
  animation-delay: 7s;
}

#zegar p:nth-child(8) {
  animation-delay: 8s;
}

#zegar p:nth-child(9) {
  animation-delay: 9s;
}

#zegar p:nth-child(10) {
  animation-delay: 10s;
}

#zegar p:nth-child(11) {
  animation-delay: 11s;
}


@keyframes odliczanie {
   50% { opacity: 1;
   }
   100% { opacity: 0;
   }
}
