/* GENERAL STYLES - START */
body {
    color: #777;
    font-family: "RobotoSlab", sans-serif;
}

/* GENERAL STYLES - END */

/* NAVIGATION - START */
#main-nav {
    background-color: red;
}

#main-nav a.navbar-brand {
    color: #fff;
    font-family: "DroidSerif", sans-serif;
    font-style: italic;
}

#main-nav .nav-item a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

#main-nav .nav-item a:hover {
    color: #0ed8d6;
}

/*
#main-nav.scroll {
    background-color: rgba(14, 216, 214, 0.75);
}

#main-nav.scroll .nav-item a:hover {
    color: #777;
}
*/

/* NAVIGATION - END */






